<p id="notice"><%= notice %></p>

<h1>Docfiles</h1>

<table>
  <thead>
    <tr>
      <th>Aadhar</th>
      <th>Pan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docfiles.each do |docfile| %>
      <tr>
      

        <td><img src="<%= docfile.aadhar %>"></td>
        <td><img src="<%= docfile.pan %>"></td>
        <hr/>
        <h1> Hi I am monesh </h1> 
        <td><%= link_to 'Show', docfile %></td>
        <td><%= link_to 'Edit', edit_docfile_path(docfile) %></td>
        <td><%= link_to 'Destroy', docfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docfile', new_docfile_path %>


<hr/>
<h1>Hello this is my testing branch</h1>
